<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>FEEL!!</title>
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
	<div class="conA">
		<div class="container">
			<h1>feel!!</h1>
		</div>
	</div>
  <div class="explain">
  </div>
</body>
</html>