<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>FEEL!!</title>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/new.css">
  <link rel="shortcut icon" href="favicon-1.ico">
</head>
<body>
  <section class="center-vertical">
    <form action="/new" method="post">
      <h2>What kind of emotion?</h2>
      <div class="container">
        <div class="radio-tile-group">
          <div class="input-container">
            <input  class="radio-button" type="radio" name="question1" value=1" required>
            <div class="radio-tile">
              <label  class="radio-tile-label">HAPPY</label>
            </div>
          </div>
          <div class="input-container">
            <input  class="radio-button" type="radio" name="question1" value=2" required>
            <div class="radio-tile">
              <label  class="radio-tile-label">SAD</label>
            </div>
          </div>
          <div class="input-container">
            <input  class="radio-button" type="radio" name="question1" value=3" required>
            <div class="radio-tile">
              <label  class="radio-tile-label">ANGRY</label>
            </div>
          </div>
          <div class="input-container">
            <input  class="radio-button" type="radio" name="question1" value=4" required>
            <div class="radio-tile">
              <label  class="radio-tile-label">WORRIED</label>
            </div>
          </div>
          <div class="input-container">
            <input  class="radio-button" type="radio" name="question1" value=5" required>
            <div class="radio-tile">
              <label  class="radio-tile-label">EMOTIONLESS</label>
            </div>
          </div>
        </div>
      </div>

      <h2>How are you?</h2>
      <div class="container">
        <div class="radio-tile-group">
          <div class="input-container">
            <input  class="radio-button" type="radio" name="question2" value=1" required>
            <div class="radio-tile">
              <label  class="radio-tile-label">FINE</label>
            </div>
          </div>
          <div class="input-container">
            <input  class="radio-button" type="radio" name="question2" value=2" required>
            <div class="radio-tile">
              <label  class="radio-tile-label">HUNGRY</label>
            </div>
          </div>
          <div class="input-container">
            <input  class="radio-button" type="radio" name="question2" value=3" required>
            <div class="radio-tile">
              <label  class="radio-tile-label">THIRSTY</label>
            </div>
          </div>
          <div class="input-container">
            <input  class="radio-button" type="radio" name="question2" value=4" required>
            <div class="radio-tile">
              <label  class="radio-tile-label">SLEEPY</label>
            </div>
          </div>
          <div class="input-container">
            <input  class="radio-button" type="radio" name="question2" value=5" required>
            <div class="radio-tile">
              <label  class="radio-tile-label">TIRED</label>
            </div>
          </div>
        </div>
      </div>

       <h2>How is the weather now?</h2>
        <div class="container">
        <div class="radio-tile-group">
          <div class="input-container">
            <input  class="radio-button" type="radio" name="question3" value=1" required>
            <div class="radio-tile">
              <label  class="radio-tile-label">SUNNY</label>
            </div>
          </div>
          <div class="input-container">
            <input  class="radio-button" type="radio" name="question3" value=2" required>
            <div class="radio-tile">
              <label  class="radio-tile-label">CLOUDY</label>
            </div>
          </div>
          <div class="input-container">
            <input  class="radio-button" type="radio" name="question3" value=3" required>
            <div class="radio-tile">
              <label  class="radio-tile-label">RAINY</label>
            </div>
          </div>
          <div class="input-container">
            <input  class="radio-button" type="radio" name="question3" value=4" required>
            <div class="radio-tile">
              <label  class="radio-tile-label">SNOWY</label>
            </div>
          </div>
          <div class="input-container">
            <input  class="radio-button" type="radio" name="question3" value=5" required>
            <div class="radio-tile">
              <label  class="radio-tile-label">WINDY</label>
            </div>
          </div>
        </div>
      </div>
      <div class="ok">
        <input type="submit" class="simple_square_btn2" value="OK">
      </div>
    </form>
  </section>
</body>
</html>