.conA {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  text-align: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), #ffffff1a),
    url("/assets/img/top.png");
  background-position: center;
  background-size: cover;
}

.conA h1 {
  margin-top: 90px;
  margin-bottom: 10px;
  font-size: 10vw;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 0.1em;
  margin-left: 0.1em;
  color: rgba(0, 0, 0, 0.8);

}

.conA h1 a{
  text-decoration: none;
  color:#000000;
}


body {
  margin: 0px;
}

.background{
  position: relative;
  background-color: #e6323200;
  z-index: 0;
}

#particles-js-1 {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: rgba(108, 104, 228, 0);
  z-index: auto;
}
#particles-js-2 {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: rgba(90, 201, 123, 0);
  z-index: auto;
}
#particles-js-0 {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: rgba(241, 217, 221, 0);
  z-index: auto;
}

#particles-js-3 {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: rgba(241, 217, 221, 0);
  z-index: auto;
}
#particles-js-4 {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: rgba(241, 217, 221, 0);
  z-index: auto;
}
section {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

section h1 {
  position: absolute;
  top: 80%;
  left: 85%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 50px;
  z-index: 1;
}

.list a{
  text-decoration: none;
  color:black;
  z-index: auto;
}

@media (min-width: 768px) {
  .conA h1 {
    font-size: 78px;
  }
}

.list{
  position: relative;
  margin:0 0 10px auto;
  z-index: 20;
}
