body {
  padding: 100px;
  font-family: "Ubuntu", sans-serif;
}

section{
  text-align: center;
  margin:5rem;
}

.center-vertical{
  text-align: center;
}
.radio-tile-group{
  margin-bottom: 50px;
}

.radio-tile-group .input-container {
  display: inline-block;
  position: relative;
  height: 5rem;
  width: 7rem;
  margin: 0.5rem;
  padding: 20px;
}
.radio-tile-group .input-container .radio-button {
  display: inline-block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
}

.radio-tile-group .input-container .radio-tile{
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border: 2px solid #616161;
  border-radius: 5px;
  padding: 1rem;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.radio-tile-group .input-container .radio-tile-label {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #616161;
}

.radio-tile-group .input-container .radio-button:checked + .radio-tile {
  background-color: rgb(0, 0, 0);
  border: 2px solid   rgb(0, 0, 0);
  color: white;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.radio-tile-group .input-container .radio-button:checked + .radio-tile .radio-tile-label {
  color: white;
  background-color:rgb(0, 0, 0);
}

.simple_square_btn2 {
	display: block;
	position: relative;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #1B1B1B;
	background: #fff;
	border:1px solid #1B1B1B;
}
.simple_square_btn2:hover {
	 background: #1B1B1B;
         color: #fff;
	 cursor: pointer;
	 text-decoration: none;
}

section .ok{
  margin:5rem auto;
  text-align:center;

}