* {
  box-sizing: border-box;
}

html, body {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 50px;
  font-family: "Ubuntu", sans-serif;
  background-color: #ffffff;
}
.container{
  margin-top: 0;
}

.container h1 {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
}

.nice-wrap {
  position: relative;
  width: 500px;
  height: 100px;
  margin: 0 auto;
}

.nice-label {
  position: absolute;
  top: 15px;
  left: 10px;
  font-size: 16px;
  color: #a0a0a0;
  transition: all 0.25s ease;
}
.nice-label.focus {
  top: -25px;
  left: 5px;
  font-size: 14px;
  color: #fff;
}

.nice-box {
  position: relative;
  display: block;
  width: 500px;
  margin-top: 50px;
  padding: 15px;
  border: 1px solid;
  border-color:#000000;
  border-radius: 5px;
  font-size: 16px;
  color: #000000;
  outline: none;
}

.nice-button{
  position: relative;
  display: block;
  width: 500px;
  margin-top: 50px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: rgb(99, 99, 99);
  color: #fff;
}